<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>Blog Post</h1>
    <h3><a href="{% url 'new_post' %}">Create Post</a></h3>
    <h3><a href="{% url 'draft_post' %}">Draft Post</a></h3>
    {% if posts %}
        {% for post in posts %}
            <h2>{{post.title}}</h2>
            <h4><a href="{% url 'edit_post' pk=post.pk %}">Edit</a><span>||</span><a href="{% url 'delete_post' pk=post.pk %}">Delete</a></h4>
            <p>Author: {{post.author|title}}</p>
            <p>Published date: {{post.published_date}}</p>
            {% for parag in post.text_as_list %}
                <p>{{parag}}</p>
            {% endfor %}
        {% endfor %}
    {% else %}
        <h2>Post Kosong</h2>
    {% endif %}
</body>
</html>